<div class="login-container">
  <div class="video-container">
    <video id="video-bg" autoplay muted loop playsInline preload="auto">
      <source src="assets/videos/tactus-waves-hero.mp4" type="video/mp4">
      <source src="assets/videos/tactus-waves-hero.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
    </div>
    

    <img class="film" src="https://picsum.photos/300/200" alt="Film Reel">
    <div class="logo">MovieGrab 🎬📥</div>
    <div class="desc">
      "MovieGrab helps you discover trending and classic movies effortlessly. Dive into a curated selection of films and explore the world of cinema like never before. 
      <span style="font-weight: bold; color: #ffcc00; text-decoration: underline; cursor: pointer;">Sign up</span> 
      and 
      <span style="font-weight: bold; color: #ffcc00; text-decoration: underline; cursor: pointer;">Log in</span> 
      to unlock exclusive content and personalize your movie experience!"
    </div>
    
  
<!--  <div class="login-form">
    <div class="form">
        <label for="uname">Username</label>
        <input type="text" name="uname" />
    </div>
    <label for="pword">Password</label>
    <input type="text" name="pword" />
</div>

<button class="btn btn-danger">login</button>
</div>
   -->
     <div class="main">  	
       <input type="checkbox" id="chk" aria-hidden="true">
   
         <div class="signup">
           <form>
             <label for="chk" aria-hidden="true">Sign up</label>
             <input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.userName">
             <input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">
             <!-- <input type="number" name="broj" placeholder="BrojTelefona" [(ngModel)]="signupObj."> -->
             <input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password">
             <button (click)="onSignup()">Sign up</button>
           </form>
         </div>
   
         <div class="login">
           <form>
             <label for="chk" aria-hidden="true">Login</label>
             <input type="userName" name="userName" placeholder="userName" [(ngModel)]="loginobj.userName">
             <input type="password" name="psword" placeholder="Password" [(ngModel)]="loginobj.password">
             <button (click)="onLogin()">Login</button>
           </form>
         </div>
     </div>
    </div>

